<style></style>

<div class="container-fluid background-color-theme">
  <h1 class="main"><strong>Quotes Digest</strong></h1>
</div>
<hr />
<div class="container-fluid">
  <h2 class="text-center bg-light title-of-feed">Feed</h2>
  <div class="bg">
    <div class="container">
      <ul class="post">
        <div *ngFor="let quote of quotes; let i = index">
          <p id="post" style="color: white">
            <em
              >Posted by <strong>{{ quote.name }}</strong>
              <span id="time"> {{ quote.postTime | dateCount }}</span> days
              ago</em
            >
          </p>
          <app-quote-detail
            [i]="i"
            [quote]="quote"
            (isComplete)="deleteQuote($event, i)"
          ></app-quote-detail>
        </div>
      </ul>
    </div>
  </div>
</div>
<hr />
<div class="bg1">
  <div class="container">
    <div class="create col-md-12">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <!-- Social links -->
  <div class="card-container">
    <a class="circle-link" title="Facebook" href="https://www.facebook.com/"
      ><i class="fa fa-facebook" aria-hidden="true"></i
    ></a>

    <a class="circle-link" title="Instagram" href="https://www.instagram.com/"
      ><i class="fa fa-instagram" aria-hidden="true"></i
    ></a>

    <a class="circle-link" title="Twitter" href="https://twitter.com/"
      ><i class="fa fa-twitter" aria-hidden="true"></i
    ></a>

    <a class="circle-link" title="Gmail" href="mailto:ianjkiplagat@gmail.com"
      ><i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</footer>
