/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.delete-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 20px; 
    margin-left: 15px;
}

.voteup {
    color: rgb(30, 99, 30);
}

#feed {
    padding-top: 10px;
    padding-left: 10px;
}

.bg {
    background: url(./assets/bg.jpg);
    padding-top: 20px;
    padding-bottom: 50px;
}

.bg-1 {
    background: url(./assets/bg.jpg);
}